<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name='keywords' content='WebRTC, HTML5, JavaScript' />
		<meta name='description' content='WebRTC Video Conference App' />
		<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src='/js/home.js'></script>
		<link rel="stylesheet" type="text/css" href="css/home.css" media="screen" />
		<title>LibreERP-WebConnect Video Conference</title>
	</head>
	<body>
        <main id="container">
					<h2>Please use a valid conferenceID</h2>
        </main>
	</body>
</html>
