<div class="modal-header">
  Enter details
</div>

<div class="modal-body">

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="user.name">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" ng-model="user.email">
  </div>

  <div class="container-fluid">
    <div class="row">
      <button type="button" class="btn btn-primary pull-right" ng-click="close()" name="button">OK</button>
    </div>
  </div>

</div>
